Source: deemix
Section: python
Priority: optional
Maintainer: RemixDev <RemixDev64@gmail.com>
Build-Depends: python3 (>= 3.8), debhelper (>=7), dh-python, python3-setuptools
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/deemix
#Vcs-Git: https://salsa.debian.org/debian/deemix.git

Package: deemix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A barebone deezer downloader library
 <insert long description, indented with spaces>
