version: "3"
services:
  deb_builder:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      # Building variables
      - COMPAT_LEVEL=12
      - BUILD_DEPENDENCIES=python3 (>= ${PYTHON_VER}), debhelper (>= 7), dh-python, python3-setuptools
      - MODULE_SRC=/build/src
    volumes:
      - ${SRC_DIR}:/build/src
      # Output dir
      - ../package:/package
