name: Build DEB Package

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Start build with docker-compose
      run: |
        cd ./builder
        docker-compose up

    - name: Check files
      run: ls ./package
