name: Build DEB Package

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Start build with docker-compose
      run: |
        cd ./builder
        docker-compose up

    - name: Check files
      env:
        package: readlink -f $(ls ./package)
      run: echo $package

    - name: Upload DEB package
      uses: actions/upload-artifact@v2
      env:
        package: readlink -f $(ls ./package)
      with:
        name: deb-package
        path: $package
